<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-Emulador</title>
    <!-- Enlace al archivo style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Estilos para los botones y el fondo */
        body {
            background-color: black;
            color: yellow;
            font-family: Arial, sans-serif;
        }

        /* Estilos para los botones */
        .btn {
            background-color: black;
            color: #FFD700; /* Color dorado */
            border: 2px solid #FFD700; /* Borde dorado */
            padding: 20px 40px;
            font-size: 24px;
            cursor: pointer;
            margin: 20px auto; /* Margen automático para centrar */
            display: block;
            border-radius: 10px; /* Bordes redondeados */
        }
        /* Estilos para los banners */
        .banner-left,
        .banner-right {
            position: fixed; /* Fijar la posición */
            top: 0;
            bottom: 0;
            width: 600px; /* Ancho de las imágenes */
            height: 100%; /* Altura igual al 100% del cuerpo */
            z-index: -1; /* Enviar las imágenes detrás del contenido */
            display: block; /* Mostrar las imágenes */
        }
        .banner-left {
            left: 0; /* Posición a la izquierda */
        }
        .banner-right {
            right: 0; /* Posición a la derecha */
        }
    </style>
</head>
<body>
    <!-- Imagen a la izquierda -->
    <img src="{{ url_for('static', filename='banners/imagen1.jpg') }}" alt="Banner 1" class="banner-left">
    <!-- Imagen a la derecha -->
    <img src="{{ url_for('static', filename='banners/imagen2.jpg') }}" alt="Banner 2" class="banner-right"> 

    <h1>Control del Emulador</h1>
    <!-- Botón para iniciar Pico-8 -->
    <button type="button" id="startEmulatorBtnPico8" class="btn">Iniciar Pico-8</button>
    <!-- Botón para iniciar SNES -->
    <button type="button" id="startEmulatorBtnSNES" class="btn">Iniciar SNES</button>
    <!-- Botón para iniciar GBA -->
    <button type="button" id="startEmulatorBtnGBA" class="btn">Iniciar GBA</button>
    <!-- Botón para iniciar SEGA -->
    <button type="button" id="startEmulatorBtnSEGA" class="btn">Iniciar SEGA</button>
    <!-- Botón para iniciar PSX -->
    <button type="button" id="startEmulatorBtnPSX" class="btn">Iniciar PSX</button>
    <!-- Botón para iniciar N64 -->
    <button type="button" id="startEmulatorBtnN64" class="btn">Iniciar N64</button>
    <!-- Botón para cerrar el emulador -->
    <button type="button" id="closeEmulatorBtn" class="btn" style="display: none;">Cerrar Emulador</button>

    <!-- Contenedor para el emulador -->
    <div id="emulatorContainer">
        <iframe id="emulatorIframe" width="800" height="600" frameborder="0"></iframe>
    </div>

    <script>
        // Función para iniciar el emulador Pico-8
        document.getElementById("startEmulatorBtnPico8").addEventListener("click", function() {
            startEmulator("Pico-8");
        });

        // Función para iniciar el emulador SNES
        document.getElementById("startEmulatorBtnSNES").addEventListener("click", function() {
            startEmulator("SNES");
        });

        // Función para iniciar el emulador GBA
        document.getElementById("startEmulatorBtnGBA").addEventListener("click", function() {
            startEmulator("GBA");
        });

        // Función para iniciar el emulador SEGA
        document.getElementById("startEmulatorBtnSEGA").addEventListener("click", function() {
            startEmulator("SEGA");
        });

        // Función para iniciar el emulador PSX
        document.getElementById("startEmulatorBtnPSX").addEventListener("click", function() {
            startEmulator("PSX");
        });

        // Función para iniciar el emulador N64
        document.getElementById("startEmulatorBtnN64").addEventListener("click", function() {
            startEmulator("N64");
        });

        // Función para cerrar el emulador
        document.getElementById("closeEmulatorBtn").addEventListener("click", function() {
            closeEmulator();
        });

        // Función para iniciar o registrar el emulador
        function startEmulator(emulator) {
            document.getElementById("emulatorContainer").style.display = "block";
            document.getElementById("emulatorIframe").src = getEmulatorUrl(emulator);
            document.getElementById("startEmulatorBtnPico8").style.display = "none";
            document.getElementById("startEmulatorBtnSNES").style.display = "none";
            document.getElementById("startEmulatorBtnGBA").style.display = "none";
            document.getElementById("startEmulatorBtnSEGA").style.display = "none";
            document.getElementById("startEmulatorBtnPSX").style.display = "none";
            document.getElementById("startEmulatorBtnN64").style.display = "none";
            document.getElementById("closeEmulatorBtn").style.display = "block";

            // Enviar registro al servidor
            sendEmulatorAction(emulator, 'open');
        }

        // Función para cerrar el emulador
        function closeEmulator() {
            document.getElementById("emulatorContainer").style.display = "none";
            document.getElementById("emulatorIframe").src = "";
            document.getElementById("startEmulatorBtnPico8").style.display = "block";
            document.getElementById("startEmulatorBtnSNES").style.display = "block";
            document.getElementById("startEmulatorBtnGBA").style.display = "block";
            document.getElementById("startEmulatorBtnSEGA").style.display = "block";
            document.getElementById("startEmulatorBtnPSX").style.display = "block";
            document.getElementById("startEmulatorBtnN64").style.display = "block";
            document.getElementById("closeEmulatorBtn").style.display = "none";

            // Enviar registro al servidor
            sendEmulatorAction(getActiveEmulator(), 'close');
        }

        // Función para obtener la URL del emulador
        function getEmulatorUrl(emulator) {
            switch (emulator) {
                case 'Pico-8':
                    return "https://www.lexaloffle.com/pico-8.php";
                case 'SNES':
                    return "https://www.playroms.net/snes-roms/";
                case 'GBA':
                    return "https://www.playroms.net/gba-roms/";
                case 'SEGA':
                    return "https://www.playroms.net/sega-roms/";
                case 'PSX':
                    return "https://www.playroms.net/ps1-roms/";
                case 'N64':
                    return "https://www.playroms.net/n64-roms/";
                default:
                    return "";
            }
        }

        // Función para obtener el emulador activo
        function getActiveEmulator() {
            if (document.getElementById("emulatorIframe").src.includes("pico-8")) {
                return "Pico-8";
            } else if (document.getElementById("emulatorIframe").src.includes("snes")) {
                return "SNES";
            } else if (document.getElementById("emulatorIframe").src.includes("gba")) {
                return "GBA";
            } else if (document.getElementById("emulatorIframe").src.includes("sega")) {
                return "SEGA";
            } else if (document.getElementById("emulatorIframe").src.includes("ps1")) {
                return "PSX";
            } else if (document.getElementById("emulatorIframe").src.includes("n64")) {
                return "N64";
            } else {
                return "";
            }
        }

        // Función para enviar la acción del emulador al servidor
        function sendEmulatorAction(emulator, action) {
            fetch('/emulator-action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    emulator: emulator,
                    action: action
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error al enviar la acción al servidor:', error);
            });
        }
    </script>
</body>
</html>
